.header__content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  background-color: #F5F5F5;
  height: 80px;
  padding: 0 80px;

}

.header__search  {
  position: relative;
}
.header__search input{
  width: 470px;
  height: 42px;
  padding-left: 40px;
  border: none;
  border-radius: 6px;
  background: rgba(217, 217, 217, 0.7);
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}
.header__search .searchIcon  {
  position: absolute;
  top: 2px;
  bottom: 0;
  left: 10px;
  margin: auto;
}



.header__enter {
  display: flex;
  gap: 10px;
}

.header__enter a {
  text-decoration: none;

}

.header__login a {
  color: black;
  font-size: 18px;
}


.header__login-button{
  width: 100px;
  height: 33px;
  border-radius: 20px 0px;
  font-size: 20px;
  border: none;
}
.header__login-button a:hover{
  color:  rgba(246, 163, 21, 0.8);

}
.header__signUp-button {
  width: 100px;
  height: 30px;
  color: var(--textColor);
  border-radius: 20px 0px;
  background-color: var(--secondaryColor);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(246, 163, 21, 0.8);
  box-shadow: 0px 0px 10px #D38724;
  font-size: 18px;
  border: none;
}
.active-link-enter {
  width: 100px;
  height: 30px;
  border-radius: 20px 0px;
  background-color: var(--secondaryColor);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(246, 163, 21, 0.8);
  box-shadow: 0px 0px 10px #D38724;

}
.header__signUp-button a{
  color: black;
}

.header__heart-img{
  width: 22px;
}
.header__end {
  display: flex;
  gap: 20px;
  align-items: center;
}
.lang__select{
  background: transparent;
  border: 0;
}
option{
  background: gray;
  width: 117px;
  border: 0;
  text-transform: uppercase;
  width: 200px;

}
@media(max-width:912px){
  .header__content {
     flex-wrap: wrap;
     width: 100%;
     height: 100%;
   
   }
   .header__search input{
     width: 100%;
 
   }
 }
@media(max-width:820px){
  .header__content {
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  
  }
  .header__search input{
    width: 100%;

  }
}

/* @media(max-width:767px){
  .header__content {
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  
  }


} */



