
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .form-title{
    font-family: 'Sen';
  }
  .form-title h1{
    font-family: 'Sen';
    font-size: 54px;
  }
  .form-title p{
    margin-top: 81px;
    font-size: 100px;
    line-height: 53px;
  }
  .errorMsg {
    max-width: 350px;
    color: #FF0000;
    padding: 2px 0;
    margin-top: 2px;
    font-weight: 700;
    font-size: 20px;
  }
  
  .success-msg {
    color: #7ca936;
  }
  
  .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative;
  }
  
  .form-control label {
    width: 30%;
    padding-right: 20px;
    margin-bottom: 12px;
  }
  
  .form-control input[type="text"],
  .form-control input[type="password"] {
    max-width: 850px;
    height: 30px;
    padding: 15px;
  }
 
  .eye-password,.eye-confirm{
    position: absolute;
    top: 60px;
    right: 44px;
  }
 
  button {
    width: 890px;
    padding: 15px;
    font-size: 32px;
    background: #f7a212;
    color: #000000;
    border: none;
    border-radius: 6px;

  }


  h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h2 span { 
     background:#fff; 
     padding:0 10px; 
 }
  @media screen and (max-width: 600px) {
    body {
      width: 90%;
    }
  
    .errorMsg {
      max-width: 100%;
    }
  
    .form-control {
      flex-direction: column;
    }
  
    .form-control input[type="text"],
    .form-control input[type="password"] {
      width: inherit;
    }
  }
