

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
	--mainColor: #293037;
	--mainColorLight: #39434C;
	--secondaryColor: #F6A315;
	--textColor: #eee;
}

body {
  background-color: var(--mainColor);
  margin: 0 auto;
  overflow-x: hidden;
  background-repeat: repeat;
  font-family: 'Inter', sans-serif;
  display: grid;
}

